attrs==19.3.0
Automat==20.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.9.2
docutils==0.16
filelock==3.0.12
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
jeepney==0.4.3
keyring==21.2.1
lz4==3.1.0
numpy==1.19.0
opencv-python==4.2.0.34
packaging==20.4
Pillow-SIMD==7.0.0.post3
pkginfo==1.5.0.1
psutil==5.7.0
PyAudio==0.2.11
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
pyzmq==19.0.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
SQLAlchemy==1.3.18
tqdm==4.47.0
twine==3.2.0
Twisted==20.3.0
urllib3==1.25.9
vncdotool==1.0.0
webencodings==0.5.1
xxhash==1.4.4
yunyundb==0.0.9
zope.interface==5.1.0
